body {
    margin: 0px;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: #1C1C1C;
    color: #ffffff;
   
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

h1, h2, h4 {
    text-shadow: 2px 2px 1px black;

}

.age {
    padding: 5px 10px;
    background: #9F9F9F;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}


.date {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0;
    background: #9F9F9F;
}

.Moe {
    width: 200px;
    border-radius: 50%;
    border: 3px solid #9F9F9F;
}



.gift__section {
    height: 500px;
}

.happy {
margin-bottom: 10px;
}

.hover {
margin-bottom: 10px;
}

.gift-box {
    border: 1px solid white;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-image: url(./Black-gift-box-on-transparent-background-PNG.png);
    margin: 20px auto;
}

.gift-box:hover {
    background-image: url(/erwin-erwin-smith.gif);
    background-size: cover;
    background-position: center;
}