body {
    margin: 0px;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: #1C1C1C;
    color: #ffffff;
}





.Moe {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #9F9F9F;
}